* {
    margin: 0;
}
.right {
    background-color: blue;
}
.left{
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 20px 50px 60px;
    color: white;
}
.img, h1, p {
    margin-bottom: 40px;
}
button {
    padding: 15px;
    width: 200px;
    outline: none;
    font-size: 20px;
    font-weight: 500;
}
.banner {
    height: 100vh;
    background-color: blueviolet;

    display: flex;
    justify-content: space-between;
}

