* {
    margin: 0;
}

.main {
    height: 100vh;
}
.navbar {
    background-color: skyblue;

    display: flex;
    justify-content: space-between;


}

.links {
    display: flex;
}
.links li {
    list-style: none;
    margin-right: 10px;
}

header {
    height: 100px;
    background-color: teal;
}

.content {
    display: flex;
    height: 230;
    background-color: aquamarine;
}